{% extends 'merchstore/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    {% block content %}
    User: {{ user }}
    <h2> Product: {{ product.name }} </h2>
    <h2> Type: {{ product.type }} </h2>
    <p><b><i> {{product.price }} Pesos </i></b></p>
    <p> {{ product.description }} </p>
    <br>
    <b>Status: {{ product.get_status }}</b>
    <b>Stock: {{stock}}</b>
    <br>

    {% if logged user != owner and status == "ON_SALE" %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}

        {% if stock == 0 %}
        <button disabled>BUY NOW</button>
        {% else %}
        <button>BUY NOW</button>
        {% endif %}
    </form>
    {% endif %}

    {% if logged_user == owner %}
    <a href="{% url 'merchstore:product_update' pk=product.pk %}">Update Product Details</a>
    {% endif %}
    {% endblock %}
</body>
</html>