{% extends 'base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
    <div class="merch-icons">
        <a href="{% url 'merchstore:cart' %}"> <i class="fa-solid fa-cart-shopping merch-icons hover"></i> </a>
        <a href="{% url 'merchstore:transaction' %}"> <i class="fa-solid fa-credit-card merch-icons hover"></i> </a> 
    </div>
{% endif %}

<div class="peach-bg center-text"> 
    <i class="fa-solid fa-shop merch-icons header" > 
        <p class="header"> MERCHANDISE STORE </p> 
    </i>
    
</div>

<div class="center" style="width: 700px;">
    {% if request.user.is_authenticated %}
        <div class="list-item merch">
            <h3>your products</h3>
            
            {% for product in user_products %}
                <div class="center">
                <a href="{% url 'merchstore:detail' pk=product.pk %}"> <button class="merch">{{ product.name }} </button> </a> 
                </div>
            {% endfor %}
            
        </div>

        <div class="create-link center-text">
            <a href="{% url 'merchstore:product_create' %}">add a product</a>
        </div>

        <div class="list-item merch">
            <h3>all products</h3>
                {% for product in all_products %}
                    <div class="center">
                        <a href="{% url 'merchstore:detail' pk=product.pk %}">  <button class="merch"> {{ product.name }} </button> </a>
                    </div>
                {% endfor %}
        </div>

    {% else %}
        <div class="list-item merch">
            <h3>all products </h3>
                {% for product in all_products %}
                <div class="center">
                    <a href="{% url 'merchstore:detail' pk=product.pk %}">  <button class="merch"> {{ product.name }} </button> </a>
                </div>
                {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}
