{% extends 'merchstore/base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
<br>
<a href="{% url 'merchstore:cart' %}">YOUR CART</a>
<br>
<a href="{% url 'merchstore:transaction' %}">YOUR TRANSACTIONS</a>
{% endif %}
<h2>Product List</h2>

{% if request.user.is_authenticated %}
<h3>Your Products</h3>
<a href="{% url 'merchstore:product_create' %}">Add a Product</a>
<ul>
    {% for product in user_products %}
    <li>
        <a href="{% url 'merchstore:detail' pk=product.pk %}">{{ product.name }}</a>
    </li>
    {% endfor %}
</ul>
<h3>All Products</h3>
<ul>
    {% for product in all_products %}
    <li>
        <a href="{% url 'merchstore:detail' pk=product.pk %}">{{ product.name }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3>All Products </h3>
<ul>
    {% for product in all_products %}
    <li>
        <a href="{% url 'merchstore:detail' pk=product.pk %}">{{ product.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}