{% extends 'merchstore/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user}}'s Transactions</title>
</head>
<body>
    {% block content %}
    <ul> 
    {% for transaction in transactions %}
    <li>
        <h3> Product: {{ transaction.product.name }} </h3>
        <b> P{{ transaction.amount }} </b>
        Sold to: {{ transaction.buyer }}
        Sold on: {{ transaction.created_on }}
        Status: {{ transaction.get_status }}
    </li>
    {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>