{% extends 'blog/base.html' %}
{% block content %}
<p> <a href="{{ blog_list_url }}"> All Articles </a> </p>
<image src="{{ article.header_image.url }}"></image>
<h2> {{ article.title }} </h2>
<h3> {{ article.category }} </h3>

<p> {{ article.entry }} </p>
<p> Created on: {{ article.created_on }} </p>
<p> Last updated on: {{ article.updated_on }}</p>

{% if request.user.is_authenticated %}
    <a> More articles from {{ request.user.profile }}: </a>
    {% for other_article in request.user.profile.articles.all %}
        {% if other_article != article %}
        <li> <a href="{{ article.get_absolute_url }}"> {{ other_article }} </a></li>
        {% endif %}
    {% endfor %}
{% endif %}

<h2> Comments </h2>
{% for comment in article.comments.all %}
    <p> {{ comment.author }}: {{ comment.entry }} </p>
{% endfor %}
<form method="POST">
    {% csrf_token %}
    {{ comment_form.as_div }}
    <button type="submit"> Submit </button>
</form>

{% endblock %}
