<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Article </title>
    <style>
      div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      </style>

</head>
<body>
	<h1> Blog </h1>
    {% if request.user.is_authenticated %}
        <h3> Welcome {{ request.user.username }}! </h3>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">LOG OUT</button>
        </form>
    {% else %}
        <h3> Hello guest! </h3>
        <a href="{% url 'login' %}"> LOGIN HERE </a>
        <h4> Don't have an account? <a href="{{ register_url }}"> Sign up here!</a></h4>
    {% endif %}


    <p> <a href="{{ blog_list_url }}"> All Articles </a> </p>
    <image src="{{ article.header_image.url }}"></image>
    <h2> {{ article.title }} </h2>
    <h3> {{ article.category }} </h3>

    <p> {{ article.entry }} </p>
    <p> Created on: {{ article.created_on }} </p>
    <p> Last updated on: {{ article.updated_on }}</p>

    {% if article in request.user.profile.articles.all %}
        <p> <a href="{{ update_url }}"> Update this article </a></p>
    {% endif %}

    {% if request.user.is_authenticated %}
        <a> More articles from {{ request.user.profile }}: </a>
        <ul>
        {% for other_article in request.user.profile.articles.all %}
            {% if other_article != article %}
            <li> <a href="{{ other_article.get_absolute_url }}"> {{ other_article }} </a></li>
            {% endif %}
        {% endfor %}
         </ul>
    {% endif %}

    <h2> Comments </h2>
    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_div }}
        <button type="submit"> Submit </button>
    </form>
    {% for commentobj in article.comments.all %}
        <p> {{ commentobj.author }}: {{ commentobj.comment }} </p>
    {% endfor %}

    <h2> Image Gallery </h2>
    <p> <a href="{{ upload_images_url }}"> Upload more images </a></p>
   
    {% for imageobj in article.images.all %}
    <div class="gallery">
        <img src="{{ imageobj.image.url }} " width="600" height="400">
    </div>
    {% endfor %}


</body>
</html>
