<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Article </title>
    <style>
      div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      </style>

</head>

<body>
    <h3> Read more from {{ this_article.category }} </h3>
    {% for other_article in all_articles %}
        {% if other_article.category == this_article.category %}
            {% if other_article != this_article %}
                <li><a href="{{ other_article.get_absolute_url }}"> {{ other_article }} </a> </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    <h1> {{ this_article }} </h1>
    <h2> {{ this_article.category }} </h2>
    <p> {{ this_article.created_on }} / updated on {{ this_article.updated_on }} </p>
    <image src="{{ this_article.header_image.url }}" width="40%"> </image>
    <p> {{ this_article.entry }} <p>

    {% if request.user.is_authenticated %}
        {% if request.user.profile == this_article.author %}
        <a href='{% url 'wiki:article-update' pk=this_article.pk %}'> Update article </a>
        <p> <a href='{% url 'wiki:article-upload-images' pk=this_article.pk %}'> Upload more images </a> </p>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    {% endif %}

    {% for comment in comments %}
        {% if comment.article == this_article %}
            <p> {{comment.author.username}}: {{comment.entry}} </p>
        {% endif %}
    {% endfor %}

    <h2> Image Gallery </h2>
    
    {% for imageobj in this_article.images.all %}
        <div class = "gallery">
            <img src="{{ imageobj.image.url}}" width="60%">
        </div>
    {% endfor %}

  

    <h3> <a href='{% url 'wiki:article-list' %}'> Back? </a> </h3>
    </body>
    </html>