{% extends 'base.html' %}
{% block app %} Wiki {% endblock %}
{% block styles %}
    <style>
        .gallery {
            display: grid;
            grid-template-columns: 210px 210px 210px;
            gap: 8px;
            margin: 5px;
            height: auto;
        }
        .gallery-item > img {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="white-divider"> </div>
    <div class="article center">
        <div class="article-header header"> 
            <div>
                <h2 class="category"> {{ article.category }} </h2>
                <h2 class="title"> {{ article.title }} </h2> 
            </div>
            <div>
                <h2 class="author bottom"> {{ article.author }} </h2>
                <h2 class="create-date bottom"> {{ article.created_on }} </h2>
            </div>
        </div>

        <img class="header-img" src="{{ article.header_image.url }}"></img>
        <p> {{ article.entry }} </p>
        <!-- <p> Last updated on: {{ article.updated_on }}</p> -->

        {% if article in request.user.profile.articles.all %}
            <div class="create-link">
                <a href="{% url 'wiki:article-update' pk=article.pk %}"> Edit this article? </a>
            </div>  
        {% endif %}
        

            
        <div class="category" style="font-size: 30px;"> gallery </div>
        <div class="thin-line-divider"> </div>
        <div class="gallery">
            {% for imageobj in article.images.all %}
                <div class="gallery-item"> <img src="{{ imageobj.image.url }} "> </div>
            {% endfor %}
        </div>
        {% if article in request.user.profile.articles.all %}
        <div class="create-link"> <a href="{% url 'wiki:article-upload-images' pk=article.pk %}"> Upload more images? </a> </div>
        {% endif %}


        <div class="white-divider"></div>
        <div class="category" style="font-size: 30px;"> comments </div>
        <div class="thin-line-divider"> </div>
        <div class="comment-section">
            {% for commentobj in article.comments.all %}
                <p> {{ commentobj.author }}: {{ commentobj.entry }} </p>
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit"> Submit </button>
            </form>
        </div>

        <div class="white-divider"></div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="article-recommendations">
            <p class="category" style="text-transform: none; margin-bottom: 30px;"> Read more {{ article.category }} articles </p>
            <div class="recommendation-grid"> 
            {% for other_article in article.category.articles.all %}
                {% if other_article != article %}
                <p class="recommendation-grid-item"> <a href="{{ other_article.get_absolute_url }}"> {{ other_article }} </a> </p>
                {% endif %}
            {% endfor %}
            </div>
            </ul>
        {% endif %}
    </div>

    <a href="{% url 'wiki:article-list' %}"> <button class="back"> Back? </button> </a>

{% endblock%}