{% extends "base.html" %}
{% load static %}
{% block app %} Commission {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/hobbysite.css' %}" type="text/css">
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<h1 class="title">COMMISSIONS</h1>
	<main>
	<div class="list-container">
		<div>
			<h2 class="subtitle">my commissions</h2>
			<div class="commissions-list">
				{% for commission in created_commission_list %}
				<div>
				  <div class="link-wrapper">
						<a href="{{commission.get_absolute_url}}">{{commission.title}}</a>
					</div>
					<p>Submitted: <span>{{ commission.created_on }}</span></p>
				  <p>Status: <span>{{ commission.get_status_display }}</span></p>
				</div>
				{% endfor %}
			</div>
		</div>
		<div>
			<h2 class="subtitle">commissions applied to</h2>
			<div class="commissions-list">
			{% for commission in applied_commission_list %}
				<div>
					<div class="link-wrapper">
						<a href="{{commission.get_absolute_url}}">{{commission.title}}</a>
					</div>
			  	<p>Submitted: <span>{{ commission.created_on }}</span></p>
			  	<p>Status: <span>{{ commission.get_status_display }}</span></p>
				</div>
			{% endfor %}
			</div>
		</div>
		{% endif %}
		<div>
			<h2 class="subtitle">all commissions</h2>
			<div class="commissions-list">
				{% for commission in commission_list %}
				<div>
					<div class="link-wrapper">
						<a href="{{commission.get_absolute_url}}">{{commission.title}}</a>
					</div>
					<p>Submitted: <span>{{ commission.created_on }}</span></p>
					<p>Status: <span>{{ commission.get_status_display }}</span></p>
				</div>
				{% endfor %}
			</div>
		</div>
	<a class="create-commission-link" href="/commissions/add">Create Commission</a>
	</div>
</main>
{% endblock%}
